**/target/**
**/.vscode/**
**/build/**
**/.cache/**
*.jar
**/bin/**
**/.vs/**
**/obj/**
**/main
.dart_tool/
.packages
pubspec.lock
analysis_options.yaml
!*.dart
*.o
*.hi
**/dist/**
**/node_modules/**
package-lock.json